/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../_custom/custom.css";
@import "../_custom/image.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-canvas {
  z-index: 0;
}

.no-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.text-line-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-x-wrap {
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: pre;
  text-wrap: balance;
}

@font-face {
  font-family: "DNF";
  src: url("/fonts/DNFBitBitOTF.otf") format("opentype"); /* OTF 폰트 경로 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON";
  src: url("/fonts/NEXONLv1GothicRegular.ttf") format("truetype"); /* TTF 폰트 경로 */
  font-weight: normal;
  font-style: normal;
}

.font-dnf {
  font-family: "DNF", sans-serif;
}

.font-nexon {
  font-family: "NEXON", sans-serif;
}
