.init-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.init-title {
  width: 38vw;
  height: 20vw;
  /* background-image: url("../public/images/00_title.png"); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}
.title-circle-1 {
  top: 3%;
  left: 40%;
}
.rotating-right-5 {
  animation: rotateRight 5s linear infinite;
}
.rotating-right-10 {
  animation: rotateRight 10s linear infinite;
}
.rotating-right-20 {
  animation: rotateRight 20s linear infinite;
}
.rotating-left-10 {
  animation: rotateLeft 10s linear infinite;
}
.rotating-left-20 {
  animation: rotateLeft 20s linear infinite;
}

@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/**************************************************************************************************************************** Path: /main */
.main-button {
  margin: 32px 32px;
}

/**************************************************************************************************************************** Path: /patrol */
.patrol-round-photo {
  border-radius: 38px;
  border: 1px;
  overflow: hidden;
}
.patrol-round-endphoto {
  border-radius: 40px;
  border: 1px;
  overflow: hidden;
}
